# Astro / Vite
dist
.astro
.vercel

# Local caches / old tooling
.output
.data
.nuxt
.nitro
.cache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
