@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.43px 0 1px $crt-blue, -0.43px 0 1px $crt-red, 0 0 3px;
  }
  5% {
    text-shadow: 2.79px 0 1px $crt-blue, -2.79px 0 1px $crt-red, 0 0 3px;
  }
  10% {
    text-shadow: 0.02px 0 1px $crt-blue, -0.02px 0 1px $crt-red, 0 0 3px;
  }
  15% {
    text-shadow: 0.4px 0 1px $crt-blue, -0.4px 0 1px $crt-red, 0 0 3px;
  }
  20% {
    text-shadow: 3.47px 0 1px $crt-blue, -3.47px 0 1px $crt-red, 0 0 3px;
  }
  25% {
    text-shadow: 1.61px 0 1px $crt-blue, -1.61px 0 1px $crt-red, 0 0 3px;
  }
  30% {
    text-shadow: 0.7px 0 1px $crt-blue, -0.7px 0 1px $crt-red, 0 0 3px;
  }
  35% {
    text-shadow: 3.89px 0 1px $crt-blue, -3.89px 0 1px $crt-red, 0 0 3px;
  }
  40% {
    text-shadow: 3.87px 0 1px $crt-blue, -3.87px 0 1px $crt-red, 0 0 3px;
  }
  45% {
    text-shadow: 2.23px 0 1px $crt-blue, -2.23px 0 1px $crt-red, 0 0 3px;
  }
  50% {
    text-shadow: 0.08px 0 1px $crt-blue, -0.08px 0 1px $crt-red, 0 0 3px;
  }
  55% {
    text-shadow: 2.37px 0 1px $crt-blue, -2.37px 0 1px $crt-red, 0 0 3px;
  }
  60% {
    text-shadow: 2.2px 0 1px $crt-blue, -2.2px 0 1px $crt-red, 0 0 3px;
  }
  65% {
    text-shadow: 2.86px 0 1px $crt-blue, -2.86px 0 1px $crt-red, 0 0 3px;
  }
  70% {
    text-shadow: 0.48px 0 1px $crt-blue, -0.48px 0 1px $crt-red, 0 0 3px;
  }
  75% {
    text-shadow: 1.89px 0 1px $crt-blue, -1.89px 0 1px $crt-red, 0 0 3px;
  }
  80% {
    text-shadow: 0.08px 0 1px $crt-blue, -0.08px 0 1px $crt-red, 0 0 3px;
  }
  85% {
    text-shadow: 0.09px 0 1px $crt-blue, -0.09px 0 1px $crt-red, 0 0 3px;
  }
  90% {
    text-shadow: 3.44px 0 1px $crt-blue, -3.44px 0 1px $crt-red, 0 0 3px;
  }
  95% {
    text-shadow: 2.18px 0 1px $crt-blue, -2.18px 0 1px $crt-red, 0 0 3px;
  }
  100% {
    text-shadow: 2.62px 0 1px $crt-blue, -2.62px 0 1px $crt-red, 0 0 3px;
  }
}
