@keyframes flicker {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      opacity: random();
    }
  }
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 $crt-blue, -2px 0 0 $crt-red;
  }
  to {
    text-shadow: 2px 0.5px 2px $crt-blue, -1px -0.5px 2px $crt-red;
  }
}
